.case_area{
    padding-top: 100px;
    padding-bottom: 90px;
    background: #231F20;
    h3{
        color: #fff;
    }
    .single_case{
        margin: 50px 20px;
        h4{
            color: #F16521;
        }
    }
}