---
title: Conteúdo
layout: default
---
<!-- bradcam_area  -->
  <div class="bradcam_area bradcam_bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Conteúdo</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
    				{% for post in paginator.posts %}			
    				<article class="blog_item">
    					<div class="blog_item_img">
                            <img class="card-img rounded-5" src="/images/blog/{% if post.image %}{{ post.image }} {% else %}{{ site.blog-default.image }} {% endif %}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>{{ post.date | date: "%d" }}</h3>
                                <p>{{ post.date | date: "%b" }}</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ site.baseurl }}{{ post.url }}">
                                <h2>{{ post.title }}</h2>
                            </a>
                            <p>{{ post.excerpt }}</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> {{ post.author }}</a></li>
                                {% if post.categories.size > 0 %}<li><a href="#"><i class="fa fa-list"></i> {% for category in post.categories %} {{category}},{% endfor %}</a></li> {% endif %}
                            </ul>
                        </div>
                    </article>
                    {% endfor %}
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                        	{% if paginator.previous_page %}
						    	<a href="{{ paginator.previous_page_path }}" aria-label="Previous" class="page-link">
						     		<i class="ti-angle-left"></i>
						    	</a>
						    	<li class="page-item">
                                    <a href="{{ paginator.previous_page_path }}" class="page-link">{{ paginator.page | minus: 1 }}</a>
                                </li>
						  	{% else %}
						    	<span class="page-link disabled" ><i class="ti-angle-left"></i></span>
						  	{% endif %}
                            <li class="page-item active">
                                <a href="#" class="page-link">{{ paginator.page}}</a>
                            </li>
                            {% if paginator.next_page %}
                                <li class="page-item">
                                    <a href="{{ paginator.next_page_path }}" class="page-link">{{ paginator.page | plus: 1 }}</a>
                                </li>
                                <a href="{{ paginator.next_page_path }}" aria-label="Next" class="page-link">
						     		<i class="ti-angle-right"></i>
						    	</a>
						    {% else %}
						    	<span class="page-link disabled"><i class="ti-angle-right"></i></span>
						  	{% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
			<div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                        	{% for category in site.categories limit:5 %}
                            <li>
                                <a href="{{ site.baseurl }}/blog/category/{{ category[0] | downcase }}" class="d-flex">
                                    <p>{{ category[0] }}</p>
                                    <p>({{ category[1].size }})</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>